<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/ass_1001.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,130},{52,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>xl/ass_1002.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,153},{56,50}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{56,50}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>xl/ass_1003.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,95},{52,56}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>xl/headico_def.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,54},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>xl/i_linesep.png</key>
		<dict>
			<key>frame</key>
			<string>{{1021,50},{1,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,17}}</string>
			<key>sourceSize</key>
			<string>{1,17}</string>
		</dict>
		<key>xl/p_hongdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,2},{44,46}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{44,46}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>xl/p_hongdian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,172},{26,26}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{26,26}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>xl/progess_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,95},{104,106}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{104,106}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>xl/progess_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,184},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{94,94}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>xl/publicnum_gowx.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,54},{159,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,39}}</string>
			<key>sourceSize</key>
			<string>{159,39}</string>
		</dict>
		<key>xl/publicnum_ico.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,91},{102,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,129}}</string>
			<key>sourceSize</key>
			<string>{102,129}</string>
		</dict>
		<key>xl/publicnum_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,2},{216,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,50}}</string>
			<key>sourceSize</key>
			<string>{216,50}</string>
		</dict>
		<key>xl/sex_female.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,132},{40,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>xl/sex_male.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,92},{40,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>xl/xiazai_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,40},{602,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{602,306}}</string>
			<key>sourceSize</key>
			<string>{602,306}</string>
		</dict>
		<key>xl/xiazai_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,50},{41,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,40}}</string>
			<key>sourceSize</key>
			<string>{41,40}</string>
		</dict>
		<key>xl/xiazai_loading.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,21},{756,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{756,17}}</string>
			<key>sourceSize</key>
			<string>{756,17}</string>
		</dict>
		<key>xl/xiazai_loading1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{756,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{756,17}}</string>
			<key>sourceSize</key>
			<string>{756,17}</string>
		</dict>
		<key>xl/xiazai_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,40},{131,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,49}}</string>
			<key>sourceSize</key>
			<string>{131,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common_1.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>common_1.png</string>
	</dict>
</dict>
</plist>
