<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xl/ass_1003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{52,56}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>xl/bar_youfang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,54},{85,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,91}}</string>
			<key>sourceSize</key>
			<string>{85,91}</string>
		</dict>
		<key>xl/bg_gentduodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,800},{119,696}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,696}}</string>
			<key>sourceSize</key>
			<string>{119,696}</string>
		</dict>
		<key>xl/bg_haoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1940,326},{106,472}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{106,472}}</string>
			<key>sourceSize</key>
			<string>{110,474}</string>
		</dict>
		<key>xl/bg_loading.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,138},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>xl/bg_paoma.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,367},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>xl/bg_ziyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,416},{222,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,38}}</string>
			<key>sourceSize</key>
			<string>{222,38}</string>
		</dict>
		<key>xl/bg_zuoce.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,54},{360,500}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{360,500}}</string>
			<key>sourceSize</key>
			<string>{360,500}</string>
		</dict>
		<key>xl/bisaichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,357},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/btn_cjfangjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,459},{330,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,110}}</string>
			<key>sourceSize</key>
			<string>{330,110}</string>
		</dict>
		<key>xl/btn_fhfangjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,459},{330,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,110}}</string>
			<key>sourceSize</key>
			<string>{330,110}</string>
		</dict>
		<key>xl/btn_jiaru.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,459},{330,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,110}}</string>
			<key>sourceSize</key>
			<string>{330,110}</string>
		</dict>
		<key>xl/btn_qinyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,203},{322,152}}</string>
			<key>offset</key>
			<string>{-4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,152}}</string>
			<key>sourceSize</key>
			<string>{330,158}</string>
		</dict>
		<key>xl/down_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{1280,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,50}}</string>
			<key>sourceSize</key>
			<string>{1280,50}</string>
		</dict>
		<key>xl/down_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,2},{590,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{590,50}}</string>
			<key>sourceSize</key>
			<string>{590,50}</string>
		</dict>
		<key>xl/down_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2024},{50,12}}</string>
			<key>offset</key>
			<string>{0,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,38},{50,12}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>xl/down_bg_xue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,800},{777,44}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{777,44}}</string>
			<key>sourceSize</key>
			<string>{779,52}</string>
		</dict>
		<key>xl/hayoufan.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,800},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/i_yezi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,106},{95,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,60}}</string>
			<key>sourceSize</key>
			<string>{95,60}</string>
		</dict>
		<key>xl/i_yezi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,203},{101,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,76}}</string>
			<key>sourceSize</key>
			<string>{101,76}</string>
		</dict>
		<key>xl/ico_haoyoutouxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1231},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,76}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>xl/ico_jia.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,203},{119,119}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{119,119}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>xl/ico_jiaqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,2010},{28,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,18},{28,28}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>xl/ico_load_def.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,203},{122,124}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>xl/ico_touxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2044,2},{1,1}}</string>
			<key>offset</key>
			<string>{-36.5,36.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>xl/ico_xiaoxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,367},{46,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,57}}</string>
			<key>sourceSize</key>
			<string>{46,57}</string>
		</dict>
		<key>xl/jinbichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1579},{362,429}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,429}}</string>
			<key>sourceSize</key>
			<string>{362,429}</string>
		</dict>
		<key>xl/loading1.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,357},{92,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{92,90}}</string>
			<key>sourceSize</key>
			<string>{92,92}</string>
		</dict>
		<key>xl/loading2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2010},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>xl/loading3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,416},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>xl/menubtn_load_def.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,138},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{54,54}}</string>
			<key>sourceSize</key>
			<string>{66,68}</string>
		</dict>
		<key>xl/menuico_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1284,86},{68,18}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,18}}</string>
			<key>sourceSize</key>
			<string>{70,18}</string>
		</dict>
		<key>xl/p_noxuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2010},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>xl/p_xuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,2010},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>xl/paoma_ico.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,2010},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>xl/popup_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,203},{162,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,148}}</string>
			<key>sourceSize</key>
			<string>{162,148}</string>
		</dict>
		<key>xl/popup_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,1498},{152,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,76}}</string>
			<key>sourceSize</key>
			<string>{152,76}</string>
		</dict>
		<key>xl/spread_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1946,2},{96,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{96,322}}</string>
			<key>sourceSize</key>
			<string>{100,326}</string>
		</dict>
		<key>xl/top_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1350,82}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1350,82}}</string>
			<key>sourceSize</key>
			<string>{1350,90}</string>
		</dict>
		<key>xl/top_bg1.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2010},{330,12}}</string>
			<key>offset</key>
			<string>{0,39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,12}}</string>
			<key>sourceSize</key>
			<string>{330,90}</string>
		</dict>
		<key>xl/top_bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,147},{310,82}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,82}}</string>
			<key>sourceSize</key>
			<string>{310,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mhall.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>mhall.png</string>
	</dict>
</dict>
</plist>
